@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

    <div class="locations-grid-preview-container">



        <div class="locations-grid-preview-pittsburgh">
            @Html.ActionLink(" ", "Pittsburgh", "Locations")
            <h1>Pittsburgh</h1>
        </div>
        <ul class="locations-list" id="locations-list-pittsburgh">
            <li>
                <h1>Pittsburgh</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>




        <div class="locations-grid-preview-akron">
            @Html.ActionLink(" ", "Akron", "Locations")
            <h1>Akron</h1>


        </div>

        <ul class="locations-list" id="locations-list-akron">
            <li>
                <h1>Akron</h1>
            </li>
            <li>
                <h2>Ohio</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>
        <div class="locations-grid-preview-asheville">
            @Html.ActionLink(" ", "Asheville", "Locations")
            <h1>Asheville</h1>
        </div>

        <ul class="locations-list" id="locations-list-asheville">
            <li>
                <h1>Asheville</h1>
            </li>
            <li>
                <h2>North Carolina</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>

        <div class="locations-grid-preview-baltimore">
            @Html.ActionLink(" ", "Baltimore", "Locations")
            <h1>Baltimore</h1>
        </div>

        <ul class="locations-list" id="locations-list-baltimore">
            <li>
                <h1>Baltimore</h1>
            </li>
            <li>
                <h2>Maryland</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>
        <div class="locations-grid-preview-chambersburg">
            @Html.ActionLink(" ", "Chambersburg", "Locations")
            <h1>Chambersburg</h1>
        </div>

        <ul class="locations-list" id="locations-list-chambersburg">
            <li>
                <h1>Chambersburg</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>


        @*<div class="locations-grid-preview-erie">
            @Html.ActionLink(" ", "Erie", "Locations")
            <h1>Erie</h1>
        </div>
        <ul class="locations-list" id="locations-list-erie">
            <li>
                <h1>Erie</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            <li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>
        </ul>*@

        <div class="locations-grid-preview-fayetteville">
            @Html.ActionLink(" ", "Fayetteville", "Locations")
            <h1>Fayetteville</h1>
        </div>

        <ul class="locations-list" id="locations-list-fayetteville">
            <li>
                <h1>Fayetteville</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>

        <div class="locations-grid-preview-greensboro">
            @Html.ActionLink(" ", "Greensboro", "Locations")
            <h1>Greensboro</h1>
        </div>
        <ul class="locations-list" id="locations-list-greensboro">
            <li>
                <h1>Greensboro</h1>
            </li>
            <li>
                <h2>North Carolina</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>


        <div class="locations-grid-preview-mars">
            @Html.ActionLink(" ", "Mars", "Locations")
            <h1>Mars</h1>
        </div>
        <ul class="locations-list" id="locations-list-mars">
            <li>
                <h1>Mars</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>

        <div class="locations-grid-preview-mercer">
            @Html.ActionLink(" ", "Mercer", "Locations")
            <h1>Mercer</h1>
        </div>
        <ul class="locations-list" id="locations-list-mercer">
            <li>
                <h1>Mercer</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>


        <div class="locations-grid-preview-reading">
            @Html.ActionLink(" ", "Reading", "Locations")
            <h1>Reading</h1>
        </div>
        <ul class="locations-list" id="locations-list-reading">
            <li>
                <h1>Reading</h1>
            </li>
            <li>
                <h2>Pennsylvania</h2>
            </li>
            @*<li>
                <p>function</p>
            </li>
            <li>
                <p>Description</p>
            </li>*@
        </ul>

        @*
            <div class="locations-grid-preview-unioncity">
                @Html.ActionLink(" ", "UnionCity", "Locations")
                <h1>UnionCity</h1>
            </div>
            <ul class="locations-list" id="locations-list-unioncity">
                <li>
                    <h1>UnionCity</h1>
                </li>
                <li>
                    <h2>Pennsylvania</h2>
                </li>
                <li>
                    <p>function</p>
                </li>
                <li>
                    <p>Description</p>
                </li>
            </ul>


        <div class="locations-grid-preview-wheelertown">
                @Html.ActionLink(" ", "WheelerTown", "Locations")
                <h1>WheelerTown</h1>
            </div>
            <ul class="locations-list" id="locations-list-wheelertown">
                <li>
                    <h1>WheelerTown</h1>
                </li>
                <li>
                    <h2>Pennsylvania</h2>
                </li>
                <li>
                    <p>function</p>
                </li>
                <li>
                    <p>Description</p>
                </li>
            </ul>
        *@
    </div>







